/*
------------------------------------------------------------------------------------------
General
------------------------------------------------------------------------------------------
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {

    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: #41423f;
}

.contentArea
{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color1
{
    /*background-color: #F7A4A4;*/
    background-image: linear-gradient(#F7A4A4, #FEBE8C);
}

.color2
{
    background-image: linear-gradient(#b9a4f7, #ece2ff);
}

.color3
{
    background-image: linear-gradient(#B6E2A1, #FFFBC1);
}

h2
{
    font-size: 22px;
    text-align: center;
    padding: 20px;
    color: #41423f;
}

.mainPageCards
{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 18cm)
{
    .mainPageCards
    {
        flex-direction: column;
    }
}

.mainPageCards div
{
    min-height: 300px;
    max-height: 300px;
    border-radius: 50px;
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 18.1cm)
{
    .mainPageCards div
    {
        min-width: 30%;
        max-width: 30%;
    }
}

@media (max-width: 18cm)
{
    .mainPageCards div
    {
        min-width: 80%;
        max-width: 80%;
    }

}

.mainPageCards div h2
{
    margin-bottom: 40px;
}

.mainPageCards p
{
    color: #41423f;
    text-align: center;
    font-size: 18px;
}

.contentArea button
{
    margin-top: 20px;
    border-radius: 50px;
    border-style: none;
    background-image: linear-gradient(#F7A4A4, #FEBE8C);
    cursor: pointer;
    padding: 15px 50px;
}

.flufflPartyCard
{
    background-image: url("Icon.png"), linear-gradient(#F7A4A4, #FEBE8C);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: luminosity;
}


.googlePlayCard
{
    background-image: url("https://cdn-icons-png.flaticon.com/512/732/732208.png"), linear-gradient(#b9a4f7, #ece2ff);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: luminosity;
}

.imageFull
{
    max-width: 95%;
    border-radius: 50px;
}

