/*
------------------------------------------------------------------------------------------
General
------------------------------------------------------------------------------------------
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {

    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: #41423f;
}

.contentArea
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color1
{
    /*background-color: #F7A4A4;*/
    background-image: linear-gradient(#F7A4A4, #FEBE8C);
}

.color2
{
    background-image: linear-gradient(#b9a4f7, #ece2ff);
}

.color3
{
    background-image: linear-gradient(#B6E2A1, #FFFBC1);
}

h2
{
    font-size: 22px;
    text-align: center;
    padding: 20px;
    color: #41423f;
}

#mainPageGames
{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 18cm)
{
    #mainPageGames
    {
        flex-direction: column;
    }
}

#mainPageGames div
{
    min-height: 300px;
    max-height: 300px;
    border-radius: 50px;
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

@media (min-width: 18.1cm)
{
    #mainPageGames div
    {
        min-width: 30%;
        max-width: 30%;
    }
}

@media (max-width: 18cm)
{
    #mainPageGames div
    {
        min-width: 80%;
        max-width: 80%;
    }

}

#mainPageGames div h2
{
    margin-bottom: 40px;
}

#mainPageGames p
{
    color: #41423f;
    text-align: center;
}

#mainPageGames button
{
    margin-top: 20px;
    border-radius: 50px;
    border-style: none;
    color: #41423f;
    cursor: pointer;
    padding: 15px;
}

.imageFull
{
    max-width: 95%;
    border-radius: 50px;
}
