/*
------------------------------------------------------------------------------------------
General
------------------------------------------------------------------------------------------
 */

body {
    background-image: linear-gradient(#c67746, #88b3ae);
    height: 100%;
}

h1 {

    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: #41423f;
}

