
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*
------------------------------------------------------------------------------------------
Desktop
------------------------------------------------------------------------------------------
 */
/*basic li a and button setup*/
li, a, button {
    font-weight: 500;
    color: #41423f;;
    text-decoration: none;
}

/*title bar*/
header {

    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #ffe2c1;
}

/*IO Game Studios button (only navigation)*/
header button {
    padding: 20px;
    border-radius: 50px;
    border-style: none;
    background-color: #F7A4A4;
    cursor: pointer;
}


/*List Element Style (only navigation)*/
nav li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

nav li:hover {
    color: #B6E2A1;
}



header button:hover {
    background-color: #B6E2A1;
}

@media (min-width: 18.1cm) {
    .highlighted {
        color: #F7A4A4;
    }
}

/*Mobile Excluded*/
nav > button {
    display: none;
}

menu {
    position: absolute;
    right: 0px;
    display: none;
}

/*
------------------------------------------------------------------------------------------
Mobile
------------------------------------------------------------------------------------------
 */

@media (max-width: 18cm) {
    header {
        padding: 10px 40px;
    }


    /*Hide the default navigation*/
    nav ul {
        display: none;
    }

    /*Show the Mobile menu button*/
    nav button {
        display: blocK;
        margin-right: -20px;
        background-color: rgba(0, 0, 0, 0);
    }

    /*Style the Menu Icon*/
    nav svg {
        color: black;
        width: 30px;
        height: 30px;
    }


    menu div {
        float: right;
        background-color: #ffe2c1;
        border-radius: 0 0 0 50px;
        padding-bottom: 15px;
    }

    menu div ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    menu div ul li {
        text-align: center;
        padding: 20px 30px 20px 30px;
        margin: 5px 30px;
        cursor: pointer;
        border-radius: 50px;
        background-color: #F7A4A4;
    }

    menu div ul li:hover {
        background-color: #B6E2A1;
    }

    .highlighted
    {
        background-color: #B6E2A1;
    }
}

header img
{
    border-radius: 50px;
    max-width: 150px;
}
